@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color:#555;
    display: flex;
    justify-content: center;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1f1a2e;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}